<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>

        <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    </head>
    <body>
        <div>TODO write content</div>
        <input type="button" name="btn" id="test" value="butt"/>
    </body>
    <script th:src="@{/js/ajax.js}"></script>
</html>
